*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat",
  serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

body.night-mode {
  background-color: #222;
  color: #fff;

  img {
    filter: invert(1);
  }

  hr {
    border-top: 1px solid #fff;
  }

  .energy-market-data {
    .price-category {
      background-color: #222;

      &::after {
        background-color: #fff;
      }
    }
  }

  .energy-price-details .price-periods .period {
    color: #fff;
  }
}

article {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 12px;

  .icon.settings {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 16px;
    height: 16px;
  }
}

article.settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  div, button {
    margin-top: 0.375rem;
  }

  input, button {
    width: 240px;
  }
}

hr {
  margin: 12px 6px;
  height: 1px;
  border: none;
  border-top: 1px solid black;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-weather-current {
  text-align: center;
  margin-bottom: -10px;
  
  img {
    width: 50px;
  }

  &.is-refreshing {
    // spinning sun icon
    .icon.weather_0_d {
      animation: rotateIcon 2s linear infinite;
    }
  }
}

.current-status {
  display: flex;
  flex-direction: row;

  .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .value {
      font-size: 0.875rem;

      &+.value {
        font-size: 1rem;
      }
    }

    .icon {
      margin-bottom: 1rem;
      width: 50px;
    }
  }
}

.pv-production-cumulative {
  .value {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }
  
  .notes {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-bottom: -0.75rem;
    padding: 0 1rem;
  }
}

.energy-market-data {
  margin: 6px 6px -10px 6px;
  width: calc(100% - 12px);
  height: 20px;
  display: flex;
  align-items: flex-end;

  .price-category {
    flex: 1;
    background-color: #FFF;
    height: 20px;
    margin-right: 1px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      background-color: #222;
      position: absolute;
      bottom: 0;
    }

    &.price-category-1:after { height: 2px; }
    &.price-category-2:after { height: 4px; }
    &.price-category-3:after { height: 6px; }
    &.price-category-4:after { height: 8px; }
    &.price-category-5:after { height: 10px; }
    &.price-category-6:after { height: 12px; }
    &.price-category-7:after { height: 14px; }
    &.price-category-8:after { height: 16px; }
    &.price-category-9:after { height: 18px; }
    &.price-category-10:after { height: 20px; }
  }
}

.energy-price-details {
  margin-top: 1.5rem;
  color: #000;
  overflow: hidden;
  animation: expandDetails 0.25s ease-out;

  @keyframes expandDetails {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 300px;
      opacity: 1;
    }
  }

  .price-periods {
    display: flex;
    flex-direction: row;

    &+.price-periods {
      margin-top: 1rem;
    }

    .period {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      .label {
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }

      .value {
        font-size: 1rem;
      }
    }
  }
}

.pv-production-periods {
  display: flex;
  flex-direction: row;
  
  &+.pv-production-periods {
    margin-top: 1rem;
  }

  .period {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .label {
      font-size: 0.875rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .value.small {
      margin-top: 0.5rem;
      font-size: 0.7rem;
    }
  }
}

.weather-row {
  display: flex;
  flex-direction: row;
  height: 40px;

  .weather-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    font-size: 0.875rem;

    .icon {
      width: 28px;
      height: 28px;
      margin-right: 6px;
    }
  }
}

.weather-current {
  display: flex;
  flex-direction: column;
  
  .temperature {
    display: block;
    width: 100%;
    margin-bottom: -6px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
  }

  .weather-row:first-of-type {
    height: 4rem;
    align-items: flex-end;
    margin-top: -16px;

    .weather-col {
      padding-bottom: 6px;
    }
  }

  .weather-col {
    padding-left: 20px;
  }
}

.weather-forecast {
  display: flex;

  .weather-forecast-day {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8px;

      .icon {
        width: 50px;
        height: 50px;
        margin-bottom: 6px;
      }
    }

    .weather-row {
      padding-left: 20px;
    }
  }
}